sample/DemoApp/build/
sample/theRunAround/build/
sample/Hackbook/build/
src/build/
test/UnitTest/build/

*~
*#
.arcconfig

# Xcode user-specific files
xcuserdata
project.xcworkspace
*.pbxuser
*.mode*

# Mac OS X
.DS_Store